.cabecalho{

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 28px 0;
    font-weight: 500;
    color: var(--cinza);
}

.cabecalho__navbar{

    display: flex;
    gap: 398px;
}

.cabecalho__menu{

    display: flex;
    justify-content: space-between;
    gap: 119px
}

.menu__lista{

    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho__login{

    display: flex;
    align-items: center;
    gap: 30px;
}
