.header{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 36px;
    padding: 96px 0;
    text-align: center;

}

.header__subTitulo{

    font-weight: 600;
    color: var(--vermelho--escuro);
    
}

.header__titulo{

    font-size: 3em;
    font-weight: 600;
}

.header__texto{

    font-size: 20px;
    max-width: 60vw;
    color: var(--cinza);
}

.header__subTitulo--background{

    background: var(--cinza-rbga);
    width: 125px;
    margin: 0 auto;
    padding: 4px 12px;
    border-radius: 16px;
}

.vagas__header__imagem{

    width: 1216px;
    height: 400px;
    background-image: url("../img/reuniao.svg");
    background-repeat: no-repeat;
    
}
