
.container__vagas{

    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 20% 64px 20%;
    
}

.vagas__titulo{

    font-size: 20px;
    font-weight: 500;
}

.vagas__subTitulo{

    font-size: 18px;
    font-weight: 500;
}

.vagas__texto{

    color: var(--cinza);
}

.vagas__descricao{

    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 32px;
    border-radius: 16px;
    border: 1px solid var(--branco-escuro);
}

.vagas__descricao__texto{

    display: flex;
    gap: 24px;
}